.message-text {
  margin-top: 40px;
  font-size: .8em;
  opacity: .6;
}

.status-message {
  background-color: #eee;
  padding: 15px 25px;
  font-size: .8em;
  margin-bottom: 16px;
}
.status-message.success {
  background-color: lightgreen;
}
.status-message.error {
  background-color: red;
}

.content {
  margin-top: 80px;

  div {
    display: flex;
    flex-flow: column;
    align-items: center;
  }
}

:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
}

p {
  margin: 0;
}

.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #1976d2;
  color: white;
  font-weight: 600;
}

.toolbar img {
  margin: 0 16px;
}


svg#clouds {
  position: fixed;
  bottom: -160px;
  left: -230px;
  z-index: -10;
  width: 1920px;
}
