  <ng-container *ngFor="let errorItem of errorMessageConfig | keyvalue">
    <div *ngIf="formGroup?.hasError(errorItem.key)" class="validation-message">
      {{ errorItem.value }}
    </div>
    <div *ngIf="control?.touched && control?.hasError(errorItem.key)" class="validation-message">
      {{ errorItem.value }}
    </div>    
  </ng-container>
  <div  *ngIf="!control?.touched || control?.valid" class="form-field-hint">
    {{ formFieldHint }}
  </div>
