<div class="content" role="main">
  <header>
    <h1>Signup Form</h1>
    <p class="sub-title">Please provide your information below:</p>
  </header>

  <div class="card-container">
    <form [formGroup]="signupForm">
      <section>
        <h2>Contact information</h2>
        <div class=form-field>
          <label for="firstName">First name:</label>
          <input type="text" id="firstName" placeholder="First name" formControlName="firstName" required />
          <app-form-field-message
            [formGroup]="signupForm"
            controlName="firstName"
            formFieldHint="Please provide your first name"
            [errorMessageConfig]="{ required: 'This field is required' }">
          </app-form-field-message>           
        </div>
  
        <div class="form-field">
          <label for="lastName">Last name:</label>
          <input type="text" id="lastName" placeholder="Last name" formControlName="lastName" required />
          <app-form-field-message
            [formGroup]="signupForm"
            controlName="lastName"
            formFieldHint="Please provide your surname"
            [errorMessageConfig]="{ required: 'This field is required' }">
          </app-form-field-message>   
        </div>
        
        <div class="form-field">
          <label for="email">Email:</label>
          <input type="text" id="email" placeholder="Email" formControlName="email" required />
          <app-form-field-message
            [formGroup]="signupForm"
            controlName="email"
            [errorMessageConfig]="emailErrorConfig">
          </app-form-field-message>          
        </div>
      </section>

      <section>
        <h2>Account password</h2>
        <div class="form-field">
          <label for="password">Password:</label>
          <input type="password" id="password" placeholder="Enter password" formControlName="password" autocomplete="on" required />
          <app-form-field-message
            [formGroup]="signupForm"
            controlName="password"
            formFieldHint="Minimum 8 characters, must upper & lowercase characters and can't contain either of your names"
            [errorMessageConfig]="passwordErrorConfig">
          </app-form-field-message>
        </div>
  
        <div class="form-field">
          <label for="confirmPassword">Confirm:</label>
          <input type="password" id="confirmPassword" formControlName="confirmPassword" placeholder="Confirm password" autocomplete="on" required />
          <app-form-field-message
            [formGroup]="signupForm"
            formFieldHint="Please confirm the password you provided above"
            [errorMessageConfig]="passwordConfirmErrorConfig">
          </app-form-field-message>
        </div>
      </section>
    </form>
    <button [disabled]="signupForm.invalid" (click)="submitForm()">Sign up!</button>
  </div>
