::placeholder {
  opacity: .6;
  font-size: .8em;
}

button {
  padding: 4px 12px;
  width: 100%;
}

section {
  margin: 36px 0 48px;
}

header {
  .sub-title {
    margin-top: -12px;
    font-size: .8em;
    color: #777;
  }
}

.form-field {
  width: 550px;
  margin: 16px 0;

  label {
    display: block;
    font-size: .8em;
    margin-bottom: 3px;
    font-weight: bold;
  }

  input {
    width: 90%;
    padding: 6px 8px;
    border: 1px solid #999;
    border-radius: 4px;
  }
}
